In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('C:\\Users\Sasha\Documents\movie_bd_v5.xls')
display(data.head())

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

# Предобработка

In [58]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [46]:
data["profit"]=data["revenue"]-data["budget"]
display(data.profit)

0       1363528810
1        228436354
2        185238201
3       1868178225
4       1316249360
           ...
1884      82299717
1885      -8444012
1886     -40865180
1887      -3962091
1888      -9782502
Name: profit, Length: 1889, dtype: int64

In [7]:
# это функция для решения задачи 11
def func11(s):
    list_of_genres=s.split("|")
    for i in list_of_genres:
        dict1[i]+=1
    return list_of_genres

In [14]:
# это функция для решения задачи 13, 15
def func13(s):
    list_of_directors=s.split("|")
    return list_of_directors

In [26]:
# это функция для решения задачи 21
def func21(s):
    list_of_values=s.split("/")
    month=list_of_values[0]
    return month

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [126]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget==data.budget.max()]
# отфильтровываем самый бюджетный фильм

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [127]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [13]:
# отфильтровываем самый продолжительный фильм
data[data.runtime==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [128]:
answers["3"]="768. Winnie the Pooh (tt1449283)"

In [12]:
# отфильтровываем фильм с самой короткой продолжительностью
data[data.runtime==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [129]:
answers["4"]="109.6585494970884"

In [19]:
# берем среднее значение
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [130]:
answers["5"]="107"

In [20]:
# берем медианное значение
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [131]:
answers["6"]="239. Avatar (tt0499549)"

In [23]:
data[data.profit==data.profit.max()]
# отфильтровываем по максимальному профиту

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [132]:
answers["7"]="1245. The Lone Ranger (tt1210819)"

In [24]:
data[data.profit==data.profit.min()]
# отфильтровываем по минимальному профиту

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [134]:
answers["8"]="1478"

In [27]:
data[data.profit>0]
# отфильтровываем фильмы с положительным профитом и берем количество строк в полученном датафрейме

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,tt0171433,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,5.7,2000,7036004
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,5.9,2000,4700000
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000,7728118
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,5.5,2000,12609995
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717

Вариант 2

In [28]:
data[data.revenue>data.budget]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,tt0171433,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,5.7,2000,7036004
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,5.9,2000,4700000
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000,7728118
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,5.5,2000,12609995
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [135]:
answers["9"]="599. The Dark Knight (tt0468569)"

In [76]:
group=data[data.release_year==2008][["imdb_id","profit","original_title"]] 
# отфильтровываем фильмы, снятые в 2008 году, и ищем среди них фильм с максимальным профитом
group[group.profit==group.profit.max()]

       imdb_id     profit   original_title
599  tt0468569  816921825  The Dark Knight

Вариант 2

In [55]:
data.groupby("release_year")["profit"].max()
# группируем фильмы по годам, находим максимальный профит

release_year
2000     421388105
2001     851475550
2002     847287400
2003    1024888979
2004     769838758
2005     745921036
2006     865659812
2007     788212738
2008     816921825
2009    2544505847
2010     863171911
2011    1202817822
2012    1299557910
2013    1124219009
2014     705119788
2015    1868178225
Name: profit, dtype: int64

In [56]:
data[data.profit==816921825]
# ищем, какой фильм соответствует данному профиту

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [136]:
answers["10"]="1245. The Lone Ranger (tt1210819)"

In [78]:
# отфильтровываем фильмы, снятые в 2012-2014 году, и ищем среди них фильм с минимальным профитом
group=data[data.release_year.isin([2012,2013,2014])][["imdb_id","original_title","profit"]]
group[group.profit==group.profit.min()]

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

# 11. Какого жанра фильмов больше всего?

In [138]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers["11"]="Drama"

Вариант 1

In [12]:
# создаем пустой счетчик
dict1=Counter()

# создаем функцию, которая преобразует колонку жанров в список, затем проходится по этому списку и добавляет значения в счетчик
# см. в предобработке func11

# применяем функцию к колонке genres
data["list_of_genres"]=data.genres.apply(func11)
dict1

Counter({'Action': 582,
         'Adventure': 415,
         'Science Fiction': 248,
         'Thriller': 596,
         'Fantasy': 222,
         'Crime': 315,
         'Western': 19,
         'Drama': 782,
         'Family': 260,
         'Animation': 139,
         'Comedy': 683,
         'Mystery': 168,
         'Romance': 308,
         'War': 58,
         'History': 62,
         'Music': 64,
         'Horror': 176,
         'Documentary': 8,
         'Foreign': 2})

Вариант 2

In [10]:
# используем колонку со списком жанров, созданную в варианте 1. Делаем explode по этой колонке, а далее берем по ней статистику
data.explode("list_of_genres")["list_of_genres"].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: list_of_genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [139]:
answers["12"]="Drama"

In [20]:
# отфильтровываем фильмы с положительным профитом
data_tmp = data[data['profit'] > 0]
# преобразуем содержимое колонки genres в список, а затем выводим статистику по данному списку
pd.Series((data_tmp.genres.str.split('|').sum())).value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [140]:
answers["13"]="Peter Jackson"

In [102]:
# группируем фильмы по режиссерам, а затем выводим сумму по кассовым сборам в порядке убывания
data.groupby("director")["revenue"].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

Вариант 2

In [141]:
#создаем множество уникальных режиссеров
directors = set(data.director.str.split('|').sum())
dict7=Counter()
# проходимся по этому множеству и записываем в словарь имена режиссеров  с соответствующей суммой кассовых сборов
for i in directors:
    dict7[i]=data[data.director.str.contains(i)].revenue.sum()

# ищем максимальное значение по словарю
cand=0
for i in dict7:
    if dict7[i]>cand:
        cand=dict7[i]
        name=i
print(name,":", cand)

Peter Jackson : 6490593685

Вариант 3

In [17]:
# применяем функцию 13 для преобразования колонки с рефиссерами в список (см. функцию в предобработке)
# вводим дополнительную колонку со списком режиссеров, делаем по ней explode, считаем сумму кассовых сборов, сортируем значения
data["list_of_directors"]=data.director.apply(func13)
data.explode("list_of_directors").groupby("list_of_directors")["revenue"].sum().sort_values(ascending=False)

list_of_directors
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [143]:
answers["14"]="Robert Rodriguez"

In [142]:
# создаем множество уникальных режиссеров
directors = set(data.director.str.split('|').sum())
dict3=Counter()
# проходимся в цикле по каждому режиссеру
for i in directors:
    data_tmp=data[data.director.str.contains(i)]
#     количество фильмов нужного жанра узнаем по длине соответствующего датафрейма
    x=len(data_tmp[data_tmp.genres.str.contains("Action")])
#     записываем в словарь имя режиссера и количество фильмов
    dict3[i]=x

# ищем максимальное значение в словаре
cand=0
for i in dict3:
    if dict3[i]>cand:
        cand=dict3[i]
        name=i
print(name,":", cand)

Robert Rodriguez : 9

Вариант 2

In [49]:
# создали две дополнительные колонки со списком режиссеров и списком жанров
data["list_of_genres"]=data.genres.apply(lambda s: s.split("|"))
data["list_of_directors"]=data.director.apply(lambda x: x.split("|"))
# применили explode последовательно к двум спискам
data14=data.explode("list_of_directors")
data14_1=data14.explode("list_of_genres")
# отфильтровали датафейм по нужному жанру
data14_2=data14_1[data14_1.list_of_genres=="Action"]
# вывели количество упоминаний каждого режиссера по отфильтрованному датафрейму
data14_2.list_of_directors.value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Ericson Core          1
Jim Gillespie         1
Robert Redford        1
Frank Coraci          1
MÃ¥ns MÃ¥rlind        1
Name: list_of_directors, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [173]:
answers["15"]="Chris Hemsworth"

In [32]:
# создаем множество уникальных актеров
actors = set(data.cast.str.split('|').sum())
# отфильтровываем датафрейм по году выпуска
data_tmp=data[data.release_year==2012]
dict4=Counter()

# проходимся по множеству актером и считаем суммарные кассовые сборы для каждого актера
for i in actors:
    sum_up=data_tmp[data_tmp.cast.str.contains(i)].revenue.sum()
# результаты записываем в словарь
    dict4[i]=sum_up
    
# ищем максимум в словаре
cand=0
for i in dict4:
    if dict4[i] > cand:
        cand=dict4[i]
        name=i
print(name,":", cand)

Chris Hemsworth : 2027450773

Вариант 2

In [37]:
# применяем для решения данной задачи функцию 13, созданную ранее
# создаем колонку со списком актеров
data["list_of_actors"]=data.cast.apply(func13)
# применяем explode к списку актеров и записываем это в отдельный датафрейм
data1=data.explode("list_of_actors")
# применяем к полученному датафрейму фильтрацию по 2012-му году выпуска
data2=data1[data1.release_year==2012]
# группируем по актерам, считаем суммарные кассовые сборы, сортируем полученные значения
data2.groupby("list_of_actors")["revenue"].sum().sort_values(ascending=False)

list_of_actors
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Robert Downey Jr.    1519557910
Mark Ruffalo         1519557910
                        ...
Michael Nyqvist         3428048
Danny Huston            2106557
Josh Lucas              2106557
Sami Gayle              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [150]:
answers["16"]="Matt Damon"

In [4]:
# отфильтровываем высокобюджетные фильмы
data5=data[data.budget>data.budget.mean()]
# создаем множество уникальных актеров
actors = set(data.cast.str.split('|').sum())
dict5=Counter()

# проходимся по множеству актеров и записываем в словарь количество фильмов из датафрейма, содержащего имя данного актера
for i in actors:
    num=len(data5[data5.cast.str.contains(i)])
    dict5[i]=num

# ищем максимальное значение в словаре

cand=0
for i in dict5:
    if dict5[i]>cand:
        cand=dict5[i]
        name=i
print(name,":", cand)

Matt Damon : 18

Вариант 2

In [40]:
# у нас уже есть колонка со списком актеров из прошлой задачи, применяем к ней explode
data_tmp=data.explode("list_of_actors")
# отфильтровываем датафрейм по бюджету
data16=data_tmp[data_tmp.budget>data_tmp.budget.mean()]
# в полученном высокобюджетном датафрейме считаем количество упоминаний каждого актера в порядке убывания
data16.list_of_actors.value_counts().sort_values(ascending=False)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Kristen Wilson        1
Ted Levine            1
Callan Mulvey         1
Jennifer Tilly        1
Seymour Cassel        1
Name: list_of_actors, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [153]:
answers["17"]="Action"

In [30]:
# отфильтровываем фильмы с участием данного актера
data7=data[data.cast.str.contains("Nicolas Cage")]

# дальше задача сводится к вопросу 11 "Какого жанра фильмов больше всего", решение аналогично
dict1=Counter()
def func(s):
    list_of_genres=s.split("|")
    for i in list_of_genres:
        dict1[i]+=1
    return list_of_genres

data["list_of_genres"]=data7.genres.apply(func)
dict1

Counter({'Thriller': 15,
         'Action': 17,
         'Science Fiction': 4,
         'Adventure': 7,
         'Drama': 12,
         'Mystery': 3,
         'Crime': 10,
         'Animation': 3,
         'Family': 3,
         'Fantasy': 8,
         'Comedy': 6,
         'History': 2,
         'War': 1,
         'Horror': 1,
         'Romance': 1})

# 18. Самый убыточный фильм от Paramount Pictures

In [154]:
answers["18"]="K-19: The Widowmaker"

In [35]:
# отфильтровываем фильмы данной студии
data8=data[data.production_companies.str.contains("Paramount Pictures")]
# ищем минимальный профит
data8.profit.min()

-64831034

In [36]:
# по минимальному профиту находим название фильма
data8[data8.profit==-64831034]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,actors,list_of_genres,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",NaN,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [155]:
answers["19"]="2015"

In [38]:
# группируем наш датафрейм по году выпуска, считаем суммарные кассовые сборы и выводим в нисходящем порядке
data.groupby("release_year")["revenue"].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [156]:
answers["20"]="2014"

In [42]:
# отфильтровываем по нужной студии
data9=data[data.production_companies.str.contains("Warner Bros")]
# задача свелась к предыдущему вопросу
data9.groupby("release_year")["revenue"].sum().sort_values(ascending=False)

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1521170743
2000    1025531386
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [157]:
answers["21"]="9"

In [27]:
# создаем функцию, которая выделяет месяц из даты выпуска (см. в предобработке)

# применяем эту функцию к колонке с датой, результат записываем в отдельную колонку
data["month"]=data.release_date.apply(func21)
# группируем по месяцу выпуска, считаем количество записей в датафрейме
data.groupby("month").count()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,list_of_genres,list_of_directors
month,,,,,,,,,,,,,,,,
1,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110
10,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186
11,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146
12,190,190,190,190,190,190,190,190,190,190,190,190,190,190,190,190
2,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135
3,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156
4,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149
5,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140
6,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147
7,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142
8,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161
9,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [160]:
answers["22"]="450"

In [64]:
# отфильтровываем датафрейм по летним месяцам
data_tmp=data[data.month.isin(["6","7","8"])]
# берем длину получившегося датафрейма
len(data_tmp)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [161]:
answers["23"]="Peter Jackson"

In [29]:
# отфильтровываем датафрейм по зимним месяцам
data_tmp=data[data.month.isin(["12","1","2"])]
# группируем по режиссеру, выводим количество записей в нисходящем порядке
data_tmp.groupby("director")["imdb_id"].count().sort_values(ascending=False)

director
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Adam Shankman        4
Martin Scorsese      4
                    ..
GÃ¡bor CsupÃ³        1
Guy Ritchie          1
Guy Ferland          1
Gus Van Sant         1
Will Gluck           1
Name: imdb_id, Length: 332, dtype: int64

Вариант 2

In [30]:
# помним, что режиссеров может быть больше одного, и поэтому сначала делааем explode по колонке со списком режиссеров, 
# затем группируем, потом считаем количество уникальных фильмов и сортируем
# на самом деле, данный вариант более правильный (хотя для данной задачи ответ не изменился)
data_tmp.explode("list_of_directors").groupby("list_of_directors")["imdb_id"].count().sort_values(ascending=False)

list_of_directors
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Shawn Levy           4
Adam Shankman        4
                    ..
John Luessenhop      1
John Musker          1
John Polson          1
Callan Brunker       1
Xavier Palud         1
Name: imdb_id, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [165]:
answers["24"]="Four By Two Productions"

In [44]:
# добавляем новую колонку, которая содержит количество символов в названии
data["number_of_characters"]=data.original_title.apply(lambda s: len(s))
# создаем множество уникальных студий
production_companies=set(data.production_companies.str.split("|").sum())
dict24=Counter()
# проходимся по множетству уникальный студий, считаем среднее количество символов, результаты заносим в словарь
for i in production_companies:
    data_tmp=data[data.production_companies.str.contains(i)]
    x=data_tmp.number_of_characters.mean()
    dict24[i]=x
    
# находим максимальное значение в словаре
cand=0
for i in dict24:
    if dict24[i]>cand:
        cand=dict24[i]
        name=i
print(name,":", cand)

C:\Users\Sasha\anaconda3\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Four By Two Productions : 83.0

Вариант 2

In [45]:
# создаем дополнительную колонку со списком студий
data["list_of_companies"]=data.production_companies.apply(lambda s: s.split("|"))
# к колонке со списком студий применяем explode
data24=data.explode("list_of_companies")
# группируем по студиям, считаем среднее количество символов по колонке из предыдущего варианта решения, сортируем значения
data24.groupby("list_of_companies")["number_of_characters"].mean().sort_values(ascending=False)

list_of_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Name: number_of_characters, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [124]:
answers["25"]="Intermedia, Beverly Detroit"
# я знаю, что ответ неверен. Но у меня получается именно он и я не знаю, как получить другой ответ.

In [39]:
# создаем дополнительную колонку, куда записываем количество слов в описании
data["tagline_number_of_words"]=data.tagline.apply(lambda s: len(s.split()))
# создаем дополнительную колонку со списком студий для каждого фильма
data["list_of_companies"]=data.production_companies.str.split("|")
data_tmp=data.copy()
# произодим explode по колонке со списком студий, группируем по студиям, ищем среднее значение по количеству слов, сортируем
data_tmp.explode("list_of_companies").groupby("list_of_companies")["tagline_number_of_words"].mean().sort_values(ascending=False)

list_of_companies
Intermedia                           49.000000
Beverly Detroit                      49.000000
Alliance Atlantis Communications     24.000000
Propaganda Films                     23.333333
Curse Productions                    21.000000
                                       ...
Irwin Allen Productions               1.000000
Benderspink                           1.000000
SkyLand Entertainment                 1.000000
Great Scott Productions Pty. Ltd.     1.000000
Huayi Brothers Media Corporation      1.000000
Name: tagline_number_of_words, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [103]:
answers["26"]="Inside Out, The Dark Knight, 12 Years a Slave"

In [102]:
# сортируем наш датафрейм по рейтингу
data_tmp=data[["original_title","vote_average"]].sort_values(["vote_average"],ascending=False)
# выводим первые 19 наимаенований, что составляет 1 процент от всего количества фильмов
display(data_tmp.head(19))

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8
863           The Lord of the Rings: The Two Towers           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [116]:
answers["27"]="Daniel Radcliffe & Rupert Grint"

In [170]:
# импортируем метод из библиотеки
from itertools import combinations
# копируем датафрейм
cast_pairs = data.copy()
# разделяем актеров на список для каждого фильма
cast_pairs["cast"] = cast_pairs.cast.str.split("|")
# к данному списку применяем метод combinations, который создает список попарных комбинаций актеров для каждого фильма
cast_pairs.cast = cast_pairs.cast.apply(lambda x: list(combinations(sorted(x), 2)))
# применяем explode к данному списку комбинаций, выводим статистику
cast_pairs.explode("cast").cast.value_counts()

(Emma Watson, Rupert Grint)            8
(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Ben Stiller, Owen Wilson)             6
(Helena Bonham Carter, Johnny Depp)    6
                                      ..
(Eric Jacobson, Ty Burrell)            1
(Austin Butler, Carter Jenkins)        1
(Candice Bergen, William Shatner)      1
(Diane Lane, Keanu Reeves)             1
(Adam Sandler, Keri Russell)           1
Name: cast, Length: 17943, dtype: int64

# Submission

In [174]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'21': '9',
 '22': '450',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint',
 '25': 'Intermedia, Beverly Detroit',
 '1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '109.6585494970884',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions'}

In [172]:
# и убедиться что ни чего не пропустил)
len(answers)

27